{% if user != "None" %}
  <h1>{{ user }}</h1>
{% endif %}
{% if error_mesage %}
  <h4> {{error_mesage}} </h4>
{% endif %}
{% if logout == 1 %}
  <h4> <a href="{% url 'firstApp:logout' %}">Logout</a> </h4>
  <a href="{% url 'firstApp:setQuestion' %}">create question</a>
{% endif %}
{% if logout != 1 %}
  <a href="{% url 'firstApp:login' %}">Login</a>
  <a href="{% url 'firstApp:register' %}">Register</a>
{% endif %}
{% if list_Question %}
  <ul>
    {%for question in list_Question %}
      <li>
          <a href="{% url 'firstApp:detail' question.id %}">{{ question.text }}<a/>
          <a href="{% url 'firstApp:setChoice' question.id %}"> Answere </a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No firstApp are available</p>
{% endif %}
