<div>
  <p id="error"></p>
</div>
<form method="post" id="form">
  {% csrf_token %}
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="text" name="email" id="email" placeholder="Email">
  <input type="text" name="firstname" id="firstname" placeholder="Firstname">
  <input type="text" name="lastname" id="lastname" placeholder="Lastname">
  <input type="text" name="password" id="password" placeholder="Password">
  <input type="text" name="repassword" id="repassword" placeholder="RePassword">
  <button id="sub" type="submit">Register</button>
</form>

{% block javascript %}
<script>

    const form = document.getElementById('form');

    form.addEventListener('submit', handleSubmit);

    function handleSubmit(e) {
      e.preventDefault();


      function validateEmail(emailget) {
        const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(String(emailget).toLowerCase());
      }

      function validateFirALas(firAlas){
        const re = /^[a-zA-Z]+$/;
        return re.test(String(firAlas).toLowerCase());
      }


      const username = document.getElementById('username').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const repassword = document.getElementById('repassword').value;
      const firstname = document.getElementById('firstname').value;
      const lastname = document.getElementById('lastname').value;

      const error = document.getElementById('error');



      if(username.length >= 5 && username.length <= 30){
        if(password.length >= 8 && password.length <= 64){
          if(repassword == password){
            if(validateEmail(email)){
              if(validateFirALas(firstname)){
                if(validateFirALas(lastname)){
                  fetch('http://127.0.0.1:8000/firstApp/register_set/',{
                     method: 'POST',
                     headers: { 'Content-Type': 'application/x-www-form-urlencoded',
                       "X-CSRFToken": '{{csrf_token}}',
                     },
                     body: `username=${username}&password=${password}&repassword=${repassword}&email=${email}&firstname=${firstname}&lastname=${lastname}`
                  })
                  .then(response => response.json())
                  .then(data => {
                    if(data.ok){
                      window.location.href = "http://127.0.0.1:8000/firstApp/login";
                    }else{
                      error.innerHTML = data.status;
                    }
                  });
                }else{
                  error.innerHTML = "Invalid Lastname";
                }
              }else{
                error.innerHTML = "Invalid Firstname";
              }
            }else{
              error.innerHTML = "Invalid Email";
            }
          }else{
            error.innerHTML = "A password is not the same as repeating a password";
          }
        }else{
          error.innerHTML = "The number of characters in the password is not allowed";
        }
      }else{
        error.innerHTML = "The number of characters in the username is not allowed";
      }

    }

</script>
{% endblock javascript %}
